button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 4px solid #e20000;
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

button::before {
    content: '';
    background-color: rgba(33, 0, 125, 0.5);
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transition: transform 0.3s;
    z-index: 0;
}

button:hover {
    color: #4CAF50;
    background-color: white;
    transform: translateY(-3px);
}

